* {
  font-family: Georgia;
}

body {
  margin: 0;
}

img {
  width: 45px;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
}

#orbituary {
  margin: 100px auto 0 auto;
  padding: 16px;
  font-size: 14pt;
  line-height: 1.5;
  max-width: 900px;
}

h4 {
  margin-top: -15px;
}

.footer {
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  margin-top: 50px;
  box-sizing: border-box;
  background-color: #ececec;
}
