* {
  font-family: Georgia;
}

body {
  margin-left: 0;
  margin-right: 0;
}

img {
  width: 45px;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
}

#orbituary {
  margin: 100px auto 0 auto;
  padding: 16px;
  font-size: 20pt;
  line-height: 1.5;
  max-width: 850px;
}

h4 {
  margin-top: -15px;
}

.footer {
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  padding-bottom: 0;
  margin-top: 50px;
}
